body
  text-align: justify

b, strong
  font-weight: 700
  font-style: normal

pre
  white-space: pre
  overflow-y: auto
  max-height: 70vh

img
  margin: 0rem 0rem 0rem 0rem

p.caption
  padding: 0 0 0.8rem 0
  font-style: italic
  font-size: small

em
  font-style: italic
  font-weight: normal

div#refs.references.csl-bib-body.hanging-indent > *
  padding: 0rem 0rem 0.8rem 0