For attribution, please cite this work as:

<p>{{$.Page.Params.author}}. {{dateFormat "Jan 2, 2006" $.Page.Params.date }}. <em>"{{$.Page.Params.title}}"</em>. {{ $.Page.Permalink }}.</p>

<p>BibTex citation:</p>

<code><pre>
  @misc&#123;{{"datamares"}},
    title = {{$title_str := $.Page.Params.title}}{{printf "{%s}" $title_str}},
    author = {{$author_str := $.Page.Params.author}}{{printf "{%s}" $author_str}},
    year = {{$year_str := dateFormat "2006" $.Page.Params.date }}{{printf "{%s}" $year_str}},
    url = {{$url_str := $.Page.Permalink}}{{printf "{%s}" $url_str}}
  &#125;
</pre></code>